<launch>
    <arg name="world" default="$(find px4)/Tools/sitl_gazebo/worlds/small_indoor_scenario.world" />
    <arg name="gui" default="false"/>
    <arg name="vehicle" default="iris_rplidar"/>
    <arg name="frame_id"  value="map"/>
    <arg name="point_cloud_topic"  value="/laser/point_cloud"/>
    <arg name="octomap_resolution" default="0.15"/>

    <!-- Launch PX4 Moveit -->
    <include file="$(find mavros_moveit)/launch/px4_mavros.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world" value="$(arg world)" />
        <arg name="vehicle" value="$(arg vehicle)"/>
    </include>

    <include file="$(find mavros_moveit)/launch/mavros_moveit.launch">
        <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="rplidar_link_broadcaster_0" args="0 0 0.1 0 0 0 base_link /rplidar_link 10" />

    <!-- Start gmapping for map creation -->
    <!--<include file="$(find mavros_moveit_avoidance)/launch/mavros_gmapping.launch"/>-->
    <node name="launch_gmapping" pkg="mavros_moveit_avoidance" type="launch_gmapping"/>

    <!-- Start laser scan to point cloud generation -->
    <include file="$(find mavros_moveit_avoidance)/launch/laser_to_pc.launch">
        <arg name="point_cloud_topic"  value="$(arg point_cloud_topic)"/>
    </include>

    <!-- OctoMap Server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="$(arg octomap_resolution)" />
        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="$(arg frame_id)" />
        <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="9.0" />
        <param name="sensor_model/min" value="0.01" />
        <param name="sensor_model/max" value="0.99" />
        <param name="sensor_model/hit" value="0.9" />
        <param name="sensor_model/miss" value="0.45" />
        <param name="color/r" value="0.1" />
        <param name="color/g" value="0.1" />
        <param name="color/b" value="0.1" />
        <param name="color/a" value="1.0" />
        <!-- Filter out obstacles which are lower than 1 meter -->
        <param name="occupancy_min_z" value="1.0" />
        <param name="height_map" value="false" />
        <param name="publish_free_space" value="false" />
        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="$(arg point_cloud_topic)" />
    </node>
</launch>