<?xml version="1.0"?>

<launch>
  <arg name="controller_type" default="velocity"/>
  <arg name="debug" default="false" />
  <arg name="octomap_resolution" default="0.15"/>
  <arg name="action_server_rate" default="50"/>
  <arg name="px4_start_delay" default="20"/>

  <!-- Start the moveit move group -->
  <include file="$(find mavros_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="pipeline" value="ompl"/>
  </include>

  <include file="$(find mavros_moveit_controllers)/launch/controller.launch">
    <arg name="controller_type" value="$(arg controller_type)"/>
  </include>

  <!-- Start the moveit action controller -->
  <node name="follow_multi_dof_joint_trajectory_action_server" pkg="mavros_moveit_actions" type="follow_multi_dof_joint_trajectory_action_server" output="screen">
    <param name="rate" value="$(arg action_server_rate)"/>
    <param name="control_mode" value="$(arg controller_type)"/>
  </node>
			
  <!-- Turn off failsafes for simulations -->
  <node name="initialize_px4_params" pkg="mavros_moveit" type="initialize_px4_params" launch-prefix="bash -c 'sleep $(arg px4_start_delay); $0 $@'"/>

</launch>
