<launch>
    <!-- gazebo configs -->
    <arg name="world" default="$(find px4)/Tools/sitl_gazebo/worlds/empty.world"/>
    <arg name="gui" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>

    <!-- gazebo -->
    <include file="$(find mavros_moveit)/launch/gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- vehicle config -->
    <arg name="vehicle" default="iris"/>
    <arg name="sdf" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <!-- vehicle spawn -->
    <include file="$(find mavros_moveit)/launch/spawn_vehicle.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
    </include>

    <!-- PX4 config arguments -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle_px4" default="$(arg vehicle)"/>
    <arg name="ID" default="0"/>
    <arg name="interactive" default="true"/>
    <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
    <env name="PX4_ESTIMATOR" value="$(arg est)" />

    <!-- start px4 -->
    <include file="$(find mavros_moveit)/launch/px4.launch">
        <arg name="est" value="$(arg est)"/>
        <arg name="vehicle" value="$(arg vehicle_px4)"/>
        <arg name="ID" value="$(arg ID)"/>
        <arg name="interactive" value="$(arg interactive)"/>
    </include>

    <!-- mavros config -->
	<arg name="ns" default="/"/>
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>
    <arg name="gcs_url" default="" />   GCS link is provided by SITL
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="pluginlists_yaml" default="$(find mavros_moveit)/launch/px4_pluginlists.yaml" />
	<arg name="config_yaml" default="$(find mavros_moveit)/launch/px4_config.yaml" />

    <!-- start mavros -->
    <include file="$(find mavros_moveit)/launch/mavros.launch">
        <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
        <arg name="config_yaml" value="$(arg config_yaml)" />
        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
        <arg name="tgt_system" value="$(arg tgt_system)" />
        <arg name="tgt_component" value="$(arg tgt_component)" />
        <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
        <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
    </include>

    <arg name="visualize" default="false" />
    <arg name="rvizconfig" default="$(find mavros_moveit)/rviz/visualize_mavros.rviz" />
    <group if="$(arg visualize)">
        <!-- launch rviz for visualization -->
        <include file="$(find mavros_moveit)/launch/mavros_visualization.launch">
            <arg name="rvizconfig" default="$(arg rvizconfig)" />
        </include>
    </group>
</launch>
