<?xml version="1.0"?>

<launch>
  <arg name="rvizconfig" default="$(find mavros)/rviz/iris.rviz" />
  <arg name="namespace" default="mavros" />
  <arg name="rotors_description_dir" default="$(find px4)/Tools/sitl_gazebo/models/rotors_description" />
  <arg name="visual_material" default="Blue" />
  <param name="robot_description" 
    command="$(find xacro)/xacro 
      $(arg rotors_description_dir)/urdf/iris.xacro 
      rotors_description_dir:=$(arg rotors_description_dir) 
      visual_material:=$(arg visual_material)
      --inorder" 
  />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  	<param name="gui" value="false"/>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  	<param name="gui" value="false"/>
  </node>
</launch>
