<?xml version="1.0"?>
<launch>
  <arg name="output" default="log"/>
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mavros_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="$(arg output)" args=""/>

</launch>
